In [1]:
mydict = {"name":"Rishabh", "age" : 23}
mydict

{'name': 'Rishabh', 'age': 23}

In [2]:
mydict2 = dict(name = "Mary", age = 23)
mydict2
#no need to use quotes in this case

{'name': 'Mary', 'age': 23}

In [3]:
print(mydict2['name'])

Mary

In [4]:
mydict['email'] = 'max@xyz'
mydict

{'name': 'Rishabh', 'age': 23, 'email': 'max@xyz'}

In [5]:
del mydict['email']

In [6]:
mydict

{'name': 'Rishabh', 'age': 23}

In [7]:
mydict.pop('age')

23

In [8]:
mydict

{'name': 'Rishabh'}

In [9]:
if "name" in mydict:
    print(mydict['name'])

Rishabh

In [10]:
try:
    print(mydict['name'])
    print(mydict['lastname'])
except:
    print('Error')

Rishabh
Error

In [11]:
for key in mydict:
    print(key,mydict[key])

name Rishabh

In [12]:
for key, value in mydict.items():
    print(key,value)

name Rishabh

In [13]:
mydict_cpy = mydict
mydict_cpy['email'] = 'max@xyc.com'
mydict

{'name': 'Rishabh', 'email': 'max@xyc.com'}

In [14]:
mydict_cpy2 = mydict.copy()
mydict_cpy2 = dict(mydict)
mydict_cpy2

{'name': 'Rishabh', 'email': 'max@xyc.com'}

In [15]:
my_dict = {"name":"Max", "age": 28, "email":"max@xyz.com"}
my_dict2 = dict(name = "Mary", age = 28, city = "Boston")
my_dict.update(my_dict2)
my_dict

{'name': 'Mary', 'age': 28, 'email': 'max@xyz.com', 'city': 'Boston'}

In [16]:
squares = dict()
for x in range(10):
    squares[x] = x**2
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [17]:
my_dict = {(0,1):3}
print(my_dict)

{(0, 1): 3}

## Sets

In [19]:
myset = {1,2,3,1,2}
myset

{1, 2, 3}

In [20]:
myset = set([1,3,2,3,1,2])
myset

{1, 2, 3}

In [21]:
myset = set("13212")
myset

{'1', '2', '3'}

In [22]:
myset = set()

In [25]:
myset.add(0)

In [26]:
dir(myset)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [27]:
myset.remove(0)
myset

set()

In [28]:
myset = {1,2,3}
if 1 in myset:
    print("Yes")

Yes

In [33]:
odd = set(i for i in range(1,10) if i%2 !=0)
even = set(i for i in range(1,10) if i%2 ==0)

In [34]:
primes = {2,3,5,7}
u = odd.union(even)
u

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [35]:
i = odd.intersection(even)

In [36]:
i

set()

In [38]:
i = odd.intersection(primes)
i

{3, 5, 7}

In [39]:
odd.difference(primes)

{1, 9}

In [40]:
odd.update(primes)

In [41]:
odd

{1, 2, 3, 5, 7, 9}

In [43]:
odd.intersection_update(even)
odd

{2}

In [44]:
primes.difference_update(even)

In [45]:
primes

{3, 5, 7}

In [46]:
odd

{2}

In [47]:
even

{2, 4, 6, 8}

In [48]:
odd.issubset(even)

True

In [49]:
even.issuperset(even)

True

In [51]:
odd.isdisjoint(primes)

True

In [52]:
#Creating copies
setA = set(i for i in range(0,10))
setA

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [53]:
setB = setA.copy()
setC = set(setA)

In [ ]:
#Immutable set
a = froz