### Inheritance

In [26]:
class Employee:
    raise_amt = 1.04
    
    def __init__(self, first, last, pay, age = 20):
        self.age = age
        self.first = first
        self.last = last
        self.email = self.first+'.'+self.last+ '@email.com'
        self.pay = pay
        
    def fullname(self):
        return(f"{first} {last}")
    
    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amt)

In [27]:
dev_1 = Employee('Corey', 'Schafer', 50000,22)
dev_2 = Employee('Test', 'Employee', 60000)

print(dev_1.email)
print(dev_2.email)

Corey.Schafer@email.com
Test.Employee@email.com

In [28]:
class Developer(Employee):
    
    raise_amt = 1.10
    def __init__(self, first, last, pay, prog_lang = "Java", age = 20):
        super().__init__(first, last, pay, age)
        self.prog_lang = prog_lang

In [29]:
dev_1 = Developer('Corey', 'Schafer', 50000, 'Python')
dev_2 = Developer('Test', 'Employee', 60000, 'Java')

In [30]:
dev_1.__dict__

{'age': 20,
 'first': 'Corey',
 'last': 'Schafer',
 'email': 'Corey.Schafer@email.com',
 'pay': 50000,
 'prog_lang': 'Python'}

In [31]:
class Manager(Employee):
    def __init__(self, first, last, pay, employees = None, age = 20):
        super().__init__(first, last, pay, age)
        if employees == None:
            self.employees = []
        else:
            self.employees = employees
    def add_emp(self, emp: Employee):
        self.employees.append(emp)
        
    def remove_emp(self, emp: Employee):
        if emp in self.employees:
            self.employees.remove(emp)
    def print_emps(self):
        for emp in self.employees:
            print(emp)

In [32]:
mgr = Manager('Sue', 'Smith', 90000, [dev_1])

In [33]:
mgr.add_emp(dev_2)
mgr.remove_emp(dev_1)

In [34]:
mgr.print_emps()

<__main__.Developer object at 0x7f5600646bb0>

#### Dunder or Magic Methods

In [39]:
class Employee:
    raise_amt = 1.04
    
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay
    
    def fullname(self):
        return (f"{self.first} {self.last}")
    
    def apply_raise(self):
        self.pay = int(self.pay * raise_amt) 
    
    def __repr__(self):
        return (f"Employee({first},{last},{pay})")
    
    def __str__(self):
        return(f"{first} - {last}")
    
    def __add__(self, other):
        return(self.pay + other.pay)
    
    def __len__(self):
        return(len(self.fullname()))

In [40]:
emp_1 = Employee('Corey', 'Schafer', 50000)
emp_2 = Employee('Test', 'Employee', 60000)

In [41]:
emp_1 + emp_2

110000

In [42]:
len(emp_1)

13