In [3]:
from itertools import product
a = [1,2]
b = [3,4]
prod = product(a,b)
print(list(prod))

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [4]:
from itertools import product
a = [1,2]
b = [3]
prod = product(a,b, repeat = 2)
print(list(prod))

[(1, 3, 1, 3), (1, 3, 2, 3), (2, 3, 1, 3), (2, 3, 2, 3)]

In [7]:
from itertools import permutations
perm = permutations(a)
list(perm)

[(1, 2), (2, 1)]

In [8]:
from itertools import permutations
perm = permutations(a,1)
list(perm)

[(1,), (2,)]

In [11]:
from itertools import combinations
a = [1,2,3,4]
comb = combinations(a,2)
list(comb)

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]

In [12]:
from itertools import combinations_with_replacement
a = [1,2,3,4]
comb = combinations_with_replacement(a,2)
list(comb)

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 2),
 (2, 3),
 (2, 4),
 (3, 3),
 (3, 4),
 (4, 4)]

In [13]:
from itertools import accumulate
a = [1,2,3,4]
acc = accumulate(a)
print(a)
print(list(acc))

[1, 2, 3, 4]
[1, 3, 6, 10]

In [14]:
from itertools import accumulate
a = [1,2,3,4]
acc = accumulate(a, func = max)
print(a)
print(list(acc))

[1, 2, 3, 4]
[1, 2, 3, 4]

In [15]:
from itertools import accumulate
import operator
a = [1,2,3,4]
acc = accumulate(a, func = operator.mul)
print(a)
print(list(acc))

[1, 2, 3, 4]
[1, 2, 6, 24]

In [29]:
from itertools import groupby
a = [1,2,3,4]
group_obj = groupby(a, key= lambda x: x<3)
for key, value in group_obj:
    print(key, list(value))

Once deleted, variables cannot be recovered. Proceed (y/[n])?  y

True [1, 2]
False [3, 4]

In [35]:
#persons = [{'name':'Tim','age':25},{'name':'TimTin','age':27},{'name':'Timothy','age':25},{'name':'Timon','age':27}]
persons = [{'name': 'Tim', 'age': 25}, {'name': 'Dan', 'age': 25}, 
           {'name': 'Lisa', 'age': 27}, {'name': 'Claire', 'age': 28}]
groupby_obj = groupby(persons, key = lambda x: int(x['age']))
for key, value in groupby_obj:
    print(key, list(value))

25 [{'name': 'Tim', 'age': 25}, {'name': 'Dan', 'age': 25}]
27 [{'name': 'Lisa', 'age': 27}]
28 [{'name': 'Claire', 'age': 28}]

In [34]:
persons = [{'name': 'Tim', 'age': 25}, {'name': 'Dan', 'age': 25}, 
           {'name': 'Lisa', 'age': 27}, {'name': 'Claire', 'age': 28}]

for key, group in groupby(persons, key=lambda x: x['age']):
    print(key, list(group))

25 [{'name': 'Tim', 'age': 25}, {'name': 'Dan', 'age': 25}]
27 [{'name': 'Lisa', 'age': 27}]
28 [{'name': 'Claire', 'age': 28}]

In [36]:
from itertools import count, cycle, repeat
for i in count(10):
    print(i)
    if i==15:
        break

10
11
12
13
14
15

In [40]:
a = [1,2,3]
count = 0
for i in cycle(a):
    count+=1
    print(i)
    if count == 5:
        break

1
2
3
1
2

In [41]:
count = 0
for i in repeat(1):
    count+=1
    print(i)
    if count == 5:
        break

1
1
1
1
1

# Lambda

In [42]:
add10 = lambda x:x+10
add10(5)

15

In [43]:
mult = lambda x,y: x*y
mult(2,7)

14

In [44]:
points2D = [(1,2),(15,1),(5,-1),(10,4)]
points2D_sorted = sorted(points2D, key = lambda x: x[1])
points2D

[(1, 2), (15, 1), (5, -1), (10, 4)]

In [45]:
points2D_sorted

[(5, -1), (15, 1), (1, 2), (10, 4)]

In [46]:
points2D = [(1,2),(15,1),(5,-1),(10,4)]
points2D_sorted = sorted(points2D, key = lambda x: x[0]+x[1])
points2D

[(1, 2), (15, 1), (5, -1), (10, 4)]

In [47]:
points2D_sorted

[(1, 2), (5, -1), (10, 4), (15, 1)]

In [48]:
a = [i for i in range(1,6)]
b = map(lambda x: x*2, a)
a

[1, 2, 3, 4, 5]

In [50]:
list(b)

[2, 4, 6, 8, 10]

In [54]:
c = filter(lambda x: x%2==0, a)

In [55]:
list(c)

[2, 4]

In [56]:
from functools import reduce
product_a = reduce(lambda x,y: x*y, a)

In [58]:
product_a

120

In [62]:
from itertools import accumulate
import operator
list(accumulate(a, func = operator.mul))[-1]

120